.place__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width:768px) {
  .place__title {
    max-width: 70%;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    margin-left: 16px;
    max-width: 92.5%;
    font-size: 32px;
    line-height: 35px;
  }
}