.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(42, 44, 47);
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}