.lead {
    display: flex;
    flex-direction: column;
    max-width: 77%;
    justify-content: center;
    margin:auto;
  }

@media screen and (max-width:1024px) {
  .lead {
    max-width: 90.3%;
  }
}

@media screen and (max-width:768px) {
  .lead {
    max-width: 100%;
    max-height: 854px;
  }
}

@media screen and (max-width: 425px) {  
  .lead {
    max-height: 500px;
  }
}














