.place__text {
  margin-top: 0%;
  margin-bottom: 5.5%;
}

.place__text:last-child {
  margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
  .place__text {
    margin-bottom: 7.1%;
  }
}


@media screen and (max-width: 425px) {
  .place__text {
    margin-bottom: 6.4%;
  }
}