.footer__link {
  margin-right: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__link:hover {
  transition: 0.1s linear;
  opacity: 0.5;
}

.footer__link:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link:last-child {
    margin-bottom: 0px;
  }
}