.lead__title {
  margin: 0px auto 0px;
  max-width: 720px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc(40px + 16 * ((100vw - 426px) / (767 - 426)));
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 300px;
    font-size: 40px;
  }
}