.place__paragraph {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width:768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}