.intro__text {
  margin-top: 6%;
  margin-bottom: 5%;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width:768px) {
  .intro__text {
    margin-top: 5.5%;
    margin-bottom: 4.5%;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    margin-top: 10.5%;
    margin-bottom: 8.9%;
  }
}