@media screen and (min-width: 1280px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 7.3%;
    margin-left: 11.5%;
    max-width: 54%;
  }
}

@media screen and (min-width: 1024px) and (max-width:1280px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 7.3%;
    margin-left: 11.5%;
    max-width: 54%;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-top: 9.1%;
    margin-left: 4.8%;
    max-width: 68.5%;
  }
}

@media screen and (min-width: 425px) and (max-width:768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12%;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 96%;
  }
}

@media screen and (max-width: 425px) {  
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15.7%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }
}















