.intro {
  display: flex;
  flex-direction: column;
  margin-top: 7.3%;
  margin-left: 11.5%;
  max-width: 54%;
}

@media screen and (max-width:1024px) {
  .intro {
    margin-top: 9.1%;
    margin-left: 4.8%;
    max-width: 68.5%;
  }
}

@media screen and (max-width:768px) {
  .intro {
    justify-content: center;
    margin-top: 12%;
    margin-left: 3.15%;
    margin-right: 3.15%;
    max-width: 96%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-top: 15.1%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }
}