.cover {
  margin: 92px auto;
  max-width: 1184px;
  min-height: 740px;
}

@media screen and (max-width:1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width:425px) {
  .cover {
    margin-top: 66px;
    min-height: 265.62px;
  }
}

@media screen and (max-width:320px) {
  .cover {
    min-height: 200px;
    margin-bottom: 0px;
  }
}