@media screen and (min-width: 1280px) {
  .cover {
    margin: 7.3% auto;
    margin-bottom: 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 92.5%;
    min-height: 700px;
  }
}

@media screen and (min-width: 1024px) and (max-width:1280px) {
  .cover {
      margin: 7.3% auto;
      margin-bottom: 0px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      max-width: 92.5%;
      min-height: 700px;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) { 
  .cover {
      margin-top: 9.2%;
      margin-bottom: 0px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      max-width: 1024px;
      min-height: 600px;
  }
}

@media screen and (min-width: 425px) and (max-width:768px) {
  .cover {
      margin-top: 12%;
      margin-bottom: 0px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      max-width: 768px;
      min-height: 400px;
  }
}

@media screen and (max-width: 425px) {  
  .cover {
      margin-top: 12%;
      margin-bottom: 0px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      max-width: 425px;
      min-height: 200px;
  }
}















