.cover__overlay {
  position: relative;
  display: grid;
  grid-template-rows: 397px 311px;
  row-gap: 32px;
  text-decoration: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__overlay::before {
  position: absolute;
  background-color: #2A2C2F;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 30%;
  content: "";
}

.cover__overlay:hover::before {
  transition: 0.3s linear;
  opacity: 80%;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    grid-template-rows: 347px 261px;
    max-width: 1024px;
  }
}


@media screen and (max-width: 768px) {
  .cover__overlay {
    grid-template-rows: 267px 181px;
    max-width: 768px;
    max-height: 480px;
  }
}


@media screen and (max-width: 425px) {
  .cover__overlay {
    grid-template-rows: 1.65fr 1fr;
    max-width: 425px;
    row-gap: 16px;
    max-height: 250px;
  }
}