@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 7.3%;
    padding-bottom: 2%;
    max-width: 92.5%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) and (max-width:1280px) {
  .footer {
      padding-top: 7.3%;
      padding-bottom: 2%;
      max-width: 92.5%;
      margin: auto;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) { 
  .footer {
      padding-top: 9.2%;
      padding-bottom: 2.4%;
      max-width: 90.6%;
      margin: auto;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (min-width: 425px) and (max-width:768px) {
  .footer {
      padding-top: 12%;
      padding-bottom: 3.2%;
      max-width: 93.75%;
      margin: auto;
      display: flex;
      flex-direction: row;
  }
}

@media screen and (max-width: 425px) {  
  .footer {
      padding-top: 9.2%;
      padding-bottom: 6%;
      max-width: 93.75%;
      max-height: 320px;
      margin: auto;
      display: flex;
      flex-direction: column;
  }
}















